@import 'fonts/iranyekan/css/fontiran.css';
@import 'fonts/flaticon/flaticon.css';
@import 'scss/layout';

body {
  direction: ltr;
  font-family: iranyekan;
  color: #4A4A4A;
  font-weight: 500;
}

#app {
  overflow: hidden;
}

[class^="flaticon-"] {
  line-height: initial;
}
